// Colors
$primary-dark: #010e1b;
$primary: #2973e1;
$secondary: #d3d8eb;
$text-color: #181818;
$text-color-secondary: #707070;
$red: #f33333;
$purple: #a31ca6;
$white: #ffffff;

// Font
$font-size: 16px;
$font-family: "Inter", sans-serif;

// Animations
$tr: ease all 0.3s;
